    * {
        padding: 0px;
        margin: 0px;
    }
    
    body {
        background-color: rgb(59, 48, 48);
        background-size: cover;
    }
    
    .countainer {
        width: 960px;
        margin: auto;
        background-color: black;
        background-size: cover;
        height: 1000px;
    }
    
    .judul img {
        height: 100px;
        width: 960px;
    }
    
    .judul h1 {
        margin-top: 25px;
        position: absolute;
        color: rgb(255, 0, 51);
        margin-left: 345px;
        text-decoration: underline;
    }
    
    .navigasi {
        background-color: rgb(32, 24, 24);
        height: 50px;
        margin-top: -10px;
    }
    
    .navigasi ul li {
        display: inline-block;
        color: crimson;
        margin-top: 17px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .src {
        float: right;
        margin-left: 750px;
        margin-top: -35px;
    }
    
    .konten .kiri {
        width: 600px;
        float: left;
        font-size: 15px;
        color: crimson;
        margin-left: 20px;
        margin-top: 100px;
    }
    
    .prg {
        font-size: 20px;
    }
    
    .prg1 {
        margin-right: 300px;
    }
    
    .kanan {
        float: right;
        margin-right: 30px;
        margin-top: 50px;
        font-size: 20px;
        list-style: none;
    }
    
    .footer {
        background-color: black;
        text-align: center;
        font-size: 10px;
        color: white;
    }
    
    .kiri {
        text-align: center;
    }
    
    .gbr {
        color: crimson;
        text-align: center;
    }
    
    .ad {
        position: absolute;
    }