*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #bbb;
}

nav{
    height: 80px;
    width: 100%;
    background-color: #41a0a7;
    border-bottom: 1px solid white;
}

nav .logo{  
    font-size: 35px;
    line-height: 88px;
    font-weight: bold;
    color: #fff;
    padding: 0 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 50px;    
}

nav ul li a{
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    padding:  10px 17px;
    border-radius: 3px ;
}

a.active, a:hover{
    background: rgb(121, 181, 199);
    transition: 0.5s;
}

.btn{
    float: right;
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    nav .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .btn{
        display: block;
    }
    ul {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 80px;
        left: -100%;
        text-align: center;
        background: rgb(0, 0, 0,0.2);
        transition: all .5s;
    }
    #check :checked ~ ul{
        left: 0;
    }
    nav ul li {
        margin: 50px 0;
        line-height: 30px;
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a .active, a:hover {
        color: white;
        background: rgba(0,0,0,0.6);
    }
    
}


 h1 .ppp{
    text-align:center;
    font-style: normal;}
.slogan{
    background-color: rgb(80, 137, 155);
    font-size: 25px;
    color: rgb(235, 240, 243);
    text-align: center;
    font-style: oblique}
.pg{
    text-align: center;
    font-size: x-large;
}


.tim img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
}

.nn{text-align: center;}
            .pp{
                width: 90%;
                height: 700px;
            }

            .gbr{
                width: 100%;
                height: 400px;
            }

            .menubar
            {
                list-style: none;
                padding: 0;
                background-color: #ffe066;
                width: 90%;
                max-width: 1000px;
                margin: auto;
            }
            
            .menubar li
            {
                display: inline-block;
                text-align: center;
            }
            
            .menubar li a
            {
                text-decoration: none;
                color: rgb(123, 131, 10);
                padding: 15px;
                display: block;
                font-size: 22px;
            }
            
            .menubar li a :hover
            {
                background-color: #fff0b3;
            }
        
.mul{
    font-size: xX-large;
    font-style: normal;
    margin-left: 3%;
}

.tim img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;}

.tim div {
        text-align: center;
        width: 26%;
      }

.tim h6 {
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
        font-size: 18px;
        font-weight: bold;
      }

      .tim{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      
#team{
    text-align: center;
  }

  section {
    padding: 50px 0px 50px 0px;
  }

  section p.ringkasan {
    font-style: italic;
    font-size: 20px;
    color: #13596e5d;
  }

