@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

p.logo{
    font-weight: 900;
    color: rgb(230, 230, 230);
    font-size: 23px;
    padding-top: 15px;
    transition: all 0.4s ease 0s;
}

p.logo:hover{
    color: rgb(177, 177, 177);
    transition: all 0.4s ease 0s;
}

li,a{
    font-weight: 500;
    font-size: 16px;
    color: rgb(215, 215, 215);
    text-decoration: none;
    padding-top: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    background-image: linear-gradient(to right, rgb(92, 46, 184), rgb(103, 64, 183));
    border-radius: 25px;
    margin-top: -25px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
}

.anjay{
    list-style: none;
}

.anjay li{
    display: inline-block;
    padding: 0px 20px;
    padding-top: 15px;
}

.anjay li a{
    transition: all 0.4s ease 0s;
}

.anjay li a:hover{
    color: rgb(116, 116, 116);
}

button{
    padding: 9px 25px;
    background-color: rgb(64, 35, 123);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    color: rgb(223, 223, 223);
    padding-top: 15px;
}

h1.home{
    text-align: center;
    padding-top: 250px;
    font-size: 150px;
}

p.pembuka{
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: -40px;
}

h1.datadiri{
    align-items: center;
    text-align: center;
    font-size: 50px;
}

.abtme{
    text-align: center;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

h1.didik{
    align-items: center;
    text-align: center;
    font-size: 50px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

td{
    font-size: 20px;
}

h1.jadwal{
    align-items: center;
    text-align: center;
    font-size: 50px;
}

h1.aktif{
    align-items: center;
    text-align: center;
    font-size: 50px;
}

.aktif{
    text-align: center;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

h1.hubungi{
    align-items: center;
    text-align: center;
    font-size: 50px;
}

nav.sosmed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

a.sosmed{
    font-weight: 500;
    font-size: 30px;
    color: rgb(30, 30, 30);
    text-decoration: none;
    padding-top: 15px;
}